<?php include('header.php');?>
br
.container
  br
  .row
    .col.s12
      h3.center-align HOT ARTICLES
      br
      .col.s4.m4
        a(href="#")
          .card.hoverable
            .card-image
                img(src="images/1.jpg")
                span.card-title Card title
            .card-content
              p.truncate.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      .col.s4.m4
        a(href="#")
          .card.hoverable
            .card-image
                img(src="images/1.jpg")
                span.card-title Card title
            .card-content
              p.truncate.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

      .col.s4.m4
        a(href="#")
          .card.hoverable
            .card-image
                img(src="images/1.jpg")
                span.card-title Card title
            .card-content
              p.truncate.
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

  br
  .divider
  br
  h3.center-align LASTEST VIDEOS
  .video-container
    iframe(width='853', height='0', frameborder='0' allowfullscreen='')

  br
  .divider
  br
  h3.center-align OUR SERVICES AND PORTOFOLIO
  .row.center-align
    .col.s4
      h5 Service 1
      p adfakdhkjhadfkjkabdkfbkjb
    .col.s4
      h5 Service 2
      p adfakdhkjhadfkjkabdkfbkjb
    .col.s4
      h5 Service 3
      p adfakdhkjhadfkjkabdkfbkjb

  br
  .divider
  br
  h3.center-align OUR CUSTOMERS
    .carousel
      a.carousel-item(href='#')
        img(src='images/1.jpg')
      a.carousel-item(href='#')
        img(src='images/2.jpg')
      a.carousel-item(href='#')
        img(src='images/3.jpg')
      a.carousel-item(href='#')
        img(src='images/4.jpg')
      a.carousel-item(href='#')
        img(src='images/5.jpg')

  script(type='text/javascript',src='js/jquery-2.2.0.min.js')
  script(type='text/javascript',src='js/materialize.min.js')
  script(type='text/javascript',src='js/javascript.js')
<?php include('footer.php');?>
