//Import jQuery before materialize.js
<script type="text/javascript" src="<?php bloginfo('template_url');?>/js/jquery-2.2.0.min.js"></script>
<script type="text/javascript" src="<?php bloginfo('template_url');?>/js/materialize.min.js"></script>
<script type="text/javascript" src="<?php bloginfo('template_url');?>/js/javascript.js"></script>

footer.page-footer.grey.darken-3
  .container
    .row
      .col.l6.s12
        h5.white-text Footer Content
        p.grey-text.text-lighten-4
          |You can use rows and columns here to organize your footer content.
      .col.l4.offset-l2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3(href='#!') Link1
          li
            a.grey-text.text-lighten-3(href='#!') Link2
          li
            a.grey-text.text-lighten-3(href='#!') Link3
          li
            a.grey-text.text-lighten-3(href='#!') Link4
  .footer-copyright
    .container
      |© 2015 Copyright Text
      a.grey-text.text-lighten-4.right(href='#!') More Links
</body>
</html>
