<?php include('header.php');?>
  .container
    br
    //hot-articles
    .row
      .col.s12
        h3.center-align HOT ARTICLES
        br
        .slider
          ul.slides
            <?php query_posts(array('post_type'  => 'post', 'meta_key' => '_thumbnail_id', 'posts_per_page'=>5)); if(have_posts()) : while(have_posts()) : the_post(); ?>
            li
              <a href="<?php the_permalink();?>">
                //think how to remove 'sizes' attribute to make the image keep its normal ratio even inside the slider
                <?php the_post_thumbnail('post_thumbnail',array('class'=>'articles'));?>
                .window-tint
                  .caption.left-align
                    h4.truncate
                      <?php the_title();?>
                    .divider
                    p
                      <?php the_excerpt();?>
              </a>
            <?php endwhile; endif; wp_reset_query();?>
    //lastest videos
    br
    .divider
    br
    h3.center-align LASTEST VIDEOS
    .video-container
      iframe(width='853', height='0', frameborder='0' allowfullscreen='')

    //services and portofolio
    br
    .divider
    br
    h3.center-align OUR SERVICES AND PORTOFOLIO
    br
    .row.center-align
      .col.s4
        i.material-icons.ico-services create
        h5 Design Graphic
        p.services
          |As we enter the digital era, it is essential to extend your marketing accross digital edge where people are. In order to do that, you need our service to design efective way to communicate your product to audience.
      .col.s4
        i.material-icons.ico-services web
        h5 Web Design
        p.services
          |Internet has been able to spread the information wider, faster, and cheaper through human history. You will need our web design service to tell larger amount of people your product or services, or even for a small thing only lke your personal/company identity.
      .col.s4
        i.material-icons.ico-services code
        h5 Software Development
        p.services
          |Technology is meant for easing our works. And with coomputer your work can be done in much more efficiently. Use our Software Development service to have your very own custom software and get your works easily done more easily and efficiently.

    //customers
    br
    .divider
    br
    h3.center-align OUR CUSTOMERS
    .carousel
      a.carousel-item(href='#one')
        <img src="<?php bloginfo('template_url');?>/images/1.jpg"/>
      a.carousel-item(href='#two')
        <img src="<?php bloginfo('template_url');?>/images/2.jpg"/>
      a.carousel-item(href='#three')
        <img src="<?php bloginfo('template_url');?>/images/3.jpg"/>
      a.carousel-item(href='#four')
        <img src="<?php bloginfo('template_url');?>/images/4.jpg"/>
      a.carousel-item(href='#five')
        <img src="<?php bloginfo('template_url');?>/images/5.jpg"/>
<?php include('footer.php');?>
<?php wp_footer();?>
