<?php include('header.php');?>
br
section.content
  .container
    br
    //hot-articles
    .row
      .col.s12
        h3.center-align HOT ARTICLES
        br
        .slider
          ul.slides
            li
              a(href='#')
                img(src='images/1.jpg').articles
                .window-tint
                  .caption.left-align
                    h4.truncate This is the first article
                    .divider
                    p
                      |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            li
              a(href='#')
                img(src='images/2.jpg').articles
                .window-tint
                  .caption.left-align
                    h4.truncate This is the second article
                    .divider
                    p
                      |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            li
              a(href='#')
                img(src='images/3.jpg').articles
                .window-tint
                  .caption.left-align
                    h4.truncate This is the third article
                    .divider
                    p
                      |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            li
              a(href='#')
                img(src='images/4.jpg').articles
                .window-tint
                  .caption.left-align
                    h4.truncate This is the forth article
                    .divider
                    p
                      |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            li
              a(href='#')
                img(src='images/5.jpg').articles
                .window-tint
                  .caption.left-align
                    h4.truncate This is the fifth article
                    .divider
                    p
                      |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

    //lastest videos
    br
    .divider
    br
    h3.center-align LASTEST VIDEOS
    .video-container
      iframe(width='853', height='0', frameborder='0' allowfullscreen='')

    //services and portofolio
    br
    .divider
    br
    h3.center-align OUR SERVICES AND PORTOFOLIO
    .row.center-align
      .col.s4
        h5 Service 1
        p adfakdhkjhadfkjkabdkfbkjb
      .col.s4
        h5 Service 2
        p adfakdhkjhadfkjkabdkfbkjb
      .col.s4
        h5 Service 3
        p adfakdhkjhadfkjkabdkfbkjb

    //customers
    br
    .divider
    br
    h3.center-align OUR CUSTOMERS
    .carousel
      a.carousel-item(href='#one')
        img(src='images/1.jpg')
      a.carousel-item(href='#two')
        img(src='images/2.jpg')
      a.carousel-item(href='#three')
        img(src='images/3.jpg')
      a.carousel-item(href='#four')
        img(src='images/4.jpg')
      a.carousel-item(href='#five')
        img(src='images/5.jpg')

  //required javascript
  script(type='text/javascript',src='js/jquery-2.2.0.min.js')
  script(type='text/javascript',src='js/materialize.min.js')
<?php include('footer.php');?>
