body
  display: flex
  min-height: 100vh
  flex-direction: column


main
  flex: 1 0 auto


nav
  opacity: 0.9
  filter: alpha(opacity=40) //For IE8 and earlier


.svg-social
  fill: #ffffff

.window-tint
  position: absolute
  background-color: black
  opacity: 0.8
  top: 85%
  left: 0px
  width: 100%
  height: 100%
  transition: all 0.3s ease-in-out

.caption
  top: 0% !important
  left: 5% !important
  width: 80% !important

.slider
  &:hover
    .window-tint
      top: 0%


#nav-bar
  margin: 0px 20px 0px 20px
